* {
  box-sizing: border-box;
}
.col-xs-12 {
  width: 100%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
}

.text-center {
  text-align: center;
}
